// colors
$color-brand: #005ca9;
$color-text-main: #3a3734;
$color-dark-grey: #646972;
$color-light-grey: #e2e3e2;

// Breakpoints
$small-down: 539px;
$small-up: 540px;
$medium-down: 719px;
$medium-up: 720px;
$large-down: 959px;
$large-up: 960px;
$extra-large-down: 1159px;
$extra-large-up: 1160px;
$huge-down: 1539px;
$huge-up: 1540px;
